

    <!-- Fixed navbar -->
    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <!-- <a class="navbar-brand" href="#">Project name</a> -->
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li><a routerLink ="/home" routerLinkActive ="active">Home</a></li>
            <li class="active"><a routerLink ="/order" routerLinkActive ="active">Order</a></li>
            <li><a href="#contact">Contact</a></li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="#">Action</a></li>
                <li><a href="#">Another action</a></li>
                <li><a href="#">Something else here</a></li>
                <li role="separator" class="divider"></li>
                <li class="dropdown-header">Nav header</li>
                <li><a href="#">Separated link</a></li>
                <li><a href="#">One more separated link</a></li>
              </ul>
            </li>
            <li><a (click)="Logout()">Logout</a></li>
          </ul>
          
        </div><!--/.nav-collapse -->
      </div>
    </nav>
<!-- <app-root></app-root> -->
<div class="jumbotron jumbotron-fluid">
 <h3 class = "display-4 text-center">
   <img src = "/assets/img/Food.jpg"> Restaurant App
 </h3>   
</div>
<div class="container">
  <div class="row">
    <div class="col-md-10 offset-md-1">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>

<div class = "container" style="width:920px;">

<table class ="table table-hover">
  <thead class = "thead-light">
    <th>#Order No</th>
    <th>Customer</th>
    <th>P. Method</th>
    <th>G. Total</th>
    <th>
      <a class = "btn  btn-outline-success" routerLink = "/order">
        <i class = "fa fa-plus-square mr5"></i>Create New
      </a>
    </th>
  </thead>
  
  <tbody>
    <tr *ngFor = "let item of orderList">
      <th (click) = "openForEdit(item.OrderID)">{{item.OrderNO}}</th>
      <td>{{item.Customer}}</td>
      <td>{{item.PMethod}}</td>
      <td>{{item.GTotal}}</td>
      <td>
        <a (click) = "openForEdit(item.OrderID)" class = "btn btn-info">
        <i class = "fa fa-pencil"></i>
      </a>
      <a (click) = "onOrderDelete(item.OrderID)" class = "btn text-danger ml-1">
          <i class = "fa fa-trash fa-lg"></i>
        </a>
      </td>
    </tr>  
  </tbody>
</table>
</div>